include ./mixins/navbar
doctype html
html
  head
    title Lab2 - #{title}
    block styles
      link(rel='stylesheet' href='/static/css/main.css')
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous")
  body
    block nav#navbar
      +nav('Lab2', 'main_menu')
        +nav_item( '/' ) Home
        +nav_item( '/shop' ) Shop

    div.main.container
        block content
    block foot
      #footer
    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous")
      script(src='/static/js/main.js')
      script(src='/static/js/models/base.js')
