doctype html
html
  head
    title= site.title
    block style
      link(rel="stylesheet" href="/public/css/bootstrap.min.css")
  body
    block content
    block script
      script(src="/public/js/jquery-3.3.1.slim.min.js")
      script(src="/public/js/bootstrap.min.js")
